.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-error {
  display: inline-block;
}

.ng-valid {
  border-left: 5px solid #42A948; /* green */
}
