<div class="container main-container">
	<div class="container-submain">
		<div class="logoo">
			<span>openapi doc</span>
		</div>
		<div class="form-container">
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="row form-label">Username or email address</div>
				<div class="row">
			<input type="email" placeholder="User" formControlName="username" class="">
				</div>
				<div *ngIf="username.invalid && (username.dirty || username.touched )" class="alert alert-danger form-error">
					<div *ngIf="username.errors.required">Este campo es necesario</div>
					<div *ngIf="username.errors.minlength">Este campo debe tener al menos 3 caracteres</div>
					<div *ngIf="username.errors.email">Email invalido</div>
				</div>
				<div class="row form-label">Password</div>
				<div class="row">
					<input type="password" placeholder="Password" formControlName="password">
				</div>
				<div *ngIf="password.invalid && (password.dirty || password.touched )" class="alert alert-danger form-error">
					<div *ngIf="password.errors.required">Este campo es necesario</div>
					<div *ngIf="password.errors.minlength">Este campo debe tener al menos 3 caracteres</div>
				</div>
				<div class="row">
					<button type="submit" [disabled]="loginForm.status == 'INVALID'">Ingresar</button>
				</div>
			</form>
		</div>
    <p>
      Form Status: {{ loginForm.status }}
    </p>
  </div>
</div>
