<div class="container main-container">
   <div class="container-submain">
        <div class="logoo">
            <span>openapi doc</span>
        </div>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="row form-label">Username or email address</div>
              <div class="row">
                  <mat-form-field appearance="outline">
                      <mat-label>User</mat-label>
                      <input matInput type="email" placeholder="User" formControlName="username" required>
                      <mat-icon matSuffix>person</mat-icon>
                      <mat-hint>ingrese su coreo</mat-hint>
                  </mat-form-field>
              </div>
              <div class="row form-label">Password</div>
              <div class="row">
                  <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" placeholder="Password" formControlName="password" required>
                      <mat-icon matSuffix>lock</mat-icon>
                      <mat-hint>Ingrese su password</mat-hint>
                  </mat-form-field>
              </div>
              <div class="row">
                  <div class="col-6">
                    <a routerLink="/login/signup">signup</a>
                  </div>
                  <div class="col-6">
                    <button mat-button type="submit">Login</button>
                  </div>
              </div>
            </form>
        </div>
   </div>
</div>
