<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Name" formControlName="name" required>
        <mat-icon>person</mat-icon>
        <mat-hint>fill the name</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" matInput placeholder="Description" formControlName="description" required>
        <mat-icon>person</mat-icon>
        <mat-hint>fill the the description</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <span></span>
      </div>
      <div class="col-6">
        <button mat-button type="submit">create</button>
      </div>
    </div>
  </form>
</div>
