<div class="row">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="col-md-6 title-toolbar">
        <span>Open API</span>
      </div>
      <div class="col-md-6 menu-settings">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu" yPosition="above">
          <button mat-menu-item routerLink='/home' >Settings</button>
          <button *ngIf="isAuth" mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
